      <form action="#">
        <div class="form-group">
          <div class="row">
            <div class = "col-xs-12 col-md-offset-4 col-md-4">
              <h3>Book this flat</h3>
            </div>
            <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
              <label for="first_name"></label>
              <input type="text" id="first_name" placeholder="checkin" class="form-control">
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
              <label for="your-last-name"></label>
              <input type="text" id="your-last-name" placeholder="checkout" class="form-control">
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-4">
              <label for="favorite"></label>
              <select id="favorite" name="language" class="form-control">
                <option value="facebook">1 guest</option>
                <option value="google">2 guests</option>
                <option value="friends">3 guests </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <input type="submit" value="Book" class="btn btn-danger col-xs-12 col-md-offset-4 col-md-4 form">
          </div>
        </div>
      </form>
